/* div {
  outline: 1px dashed white;
} */

html,
body,
#complete-interface,
#ui,
#game {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#ui,
#game {
  position: absolute;
  top: 0;
  left: 0;
}

#ui > #health-bar,
#ui > #mana-bar,
#ui > #score-board {
  position: absolute;
  z-index: 200;
}

#ui > #health-bar,
#ui > #mana-bar {
  width: 30%;
  height: 40px;
  margin-top: 15px;
  margin-left:  15px;
  top: 0;
  left: 0;
}


#ui > #health-bar > .progress-bar {
  padding: 0 15px;
  justify-content: space-between;
  font-size: 2em;
}

#ui > #mana-bar {
  top: 45px;
}

#ui > #score-board {
  width: 30%;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-top: 15px;
  margin-right: 15px;
  padding-right: 15px;
  top: 0;
  right: 0;
  font-size: 2em;
  color: #fff;
  border-radius:  5px;
  background-color: rgba(243, 156, 18,1.0);
}


/* Game Elements */
#main-bg {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url("pexels-photo-484151.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ship {
  position: absolute;
  z-index: 900;
  bottom: 100px;
  left:  50%;
  width:  100px;
  height: 123px;
  background-image: url("ship.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.primaryFireBullets {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 400;
  background-color: red;
  border-radius: 5px;
}

.level1Enemies {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 400;
  background-image: url(enemy-01.png);
  border-radius: 5px;
}

.win, .lose {
  position: absolute;
  z-index: 960;
  left: 0;
  top: 0;
  padding: 2em;
  border: 5px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 4em;
}


/* Tutorial Interface */
#tutorial-interface > div {
  position: absolute;
  left: 1em;
  top: 4em;
  background-color:  rgba(255, 255, 255, 0.25);
  border: 2px solid #fff;
  border-radius:  5px;
  color: #fff;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}